#root {
  margin: 0 auto;
  text-align: center;
}


body {
   /* diameter of the circle */
   --d: 1px; 
   
   background : radial-gradient(
     circle at 
        var(--d) 
        var(--d), 
        
     #000 calc(var(--d) - 1px), 
     #F5F5F5 var(--d)
   ) 
   0 0 / 25px 25px;
}
